<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  

  
</head>

<body style="background-color:rgba(0, 0, 0, 0);">
  magicscript v1  

  <div id="rankedit-app">
    <transition name="fade">
      <template v-if="display === true">
        <div class="container container-table container-medium">
          <div class="row vertical-center-row">
            <div class="panel panel-default game-box">
              <div class="row masthead"></div>
              <div class="row"  style="margin-left: 5px; margin-right: 5px">
                <div class="panel-body">
                  <h1 style="font-family: HouseScript">Editar Ranks</h1>
                  <div class="alert alert-danger" role="alert" v-if="error.length > 0">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    {{ error }}
                  </div>   
                  <table class="table table-striped">
                    <thead>                        
                      <tr>
                        <th>Level</th>
                        <th>Rank</th>
                        <th>Editar</th>
                        <th>Alterar Ordem</th>
                        <th>Excluir</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="rank in ranks">
                          <td>{{ rank.level }}</td>
                          <td>{{ rank.name }}</td>                                                   
                          <td><i style="font-size: 18px" class="material-icons clickable-icon">mode_edit</i></td>
                          <td><i v-if="!rank.leader" v-on:click="move('up', rank.level)" class="material-icons clickable-icon">arrow_upward</i> <i v-if="!rank.leader && rank.level != 1" v-on:click="move('down', rank.level)" class="material-icons clickable-icon">arrow_downward</i></td>
                          <td><i v-if="!rank.leader" v-on:click="deleterank(rank.level)" class="material-icons clickable-icon">clear</i></td>
                      </tr>
                    </tbody>
                  </table>                                            
                  <form v-on:submit.prevent="onSubmit">
                    <button type="submit" class="btn btn-primary btn-striped" v-bind:disabled="blocked" v-bind:class="{ 'btn-processing': blocked }">Atualizar</button>
                    <button type="button" v-on:click="cancel" class="btn btn-danger btn-striped" v-bind:disabled="blocked" v-bind:class="{ 'btn-processing': blocked }">Cancelar</button>
                    <button type="button" v-on:click="create" class="btn btn-success btn-striped pull-right" v-bind:disabled="blocked" v-bind:class="{ 'btn-processing': blocked }">Novo Rank</button>                      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </transition>
  </div>

  <script src="js/vue.js"></script>
  <!-- <script src="js/inventory.js"></script> -->
  <script type="text/javascript">
    function range(start, end) {
      var foo = [];
      for (var i = start; i <= end; i++) {
        foo.push(i);
      }
      return foo;
    }   

    rankedit_app = new Vue({
        el: '#rankedit-app',
        data: {
            display: true,
            blocked: false,
            error: '',
            ranks: [{ name: "Rank1", level: 5, leader: true },
                { name: "Rank2", level: 4, leader: false },
                { name: "Rank3", level: 3, leader: false },
                { name: "Rank4", level: 2, leader: false },
                { name: "Rank5", level: 1, leader: false }]
        },
        methods: {
            onSubmit: function () {
                this.blocked = true;
                resourceCall('triggerEvent', 'CS_EDIT_RANKS_SUBMIT', JSON.stringify(this.ranks));
            },
            cancel: function () {
                this.blocked = true;
                resourceCall('triggerEvent', 'CS_CREATE_PROPERTY_CANCEL');
            },
            move: function (type, lv) {
                switch (type) {
                    case "up":
                        if (this.ranks.length - lv == 1) {
                            this.error = "O level lider não deve ser alterado!";
                        } else {
                            var idx = this.ranks.length - lv;
                            var aux = this.ranks[idx];
                            this.ranks[idx].level += 1;
                            this.ranks[idx - 1].level -= 1;
                            Vue.set(this.ranks, idx, this.ranks[idx - 1]);
                            Vue.set(this.ranks, idx - 1, aux);

                            this.error = "";
                        }
                        break;

                    case "down":
                        if (this.ranks.length - lv == 0) {
                            this.error = "O level lider nao deve ser alterado!";
                        } else if (lv == 1) {
                            this.error = "O level já é o mínimo!";
                        } else {
                            var idx = this.ranks.length - lv;
                            var aux = this.ranks[idx];
                            this.ranks[idx].level -= 1;
                            this.ranks[idx + 1].level += 1;
                            Vue.set(this.ranks, idx, this.ranks[idx + 1]);
                            Vue.set(this.ranks, idx + 1, aux);

                            this.error = "";
                        }
                        break;
                }
            },
            deleterank: function (lv) {
            	var idx = this.ranks.length - lv;            	
            	this.ranks.splice(idx, 1);                                
                for (var i = idx-1; i >= 0; i--) {                	
                    this.ranks[i].level--;
                    Vue.set(this.ranks, i, this.ranks[i]);
                }
            },
            create: function () {
                var newrank = { name: "Novo Rank", level: 1, leader: false };
                Vue.set(this.ranks, this.ranks.length, newrank);
                for (var i = 0; i < this.ranks.length-1; i++) {
                    this.ranks[i].level++;
                    Vue.set(this.ranks, i, this.ranks[i]);
                }
            }
        }
    });   
</script>
</body>
</html>