<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  

  
</head>

<body style="background-color:rgba(0, 0, 0, 0);">
  magicscript v1  

  <div id="factionmembers-app">
    <transition name="fade">
      <template v-if="display === true">
        <div class="container container-table container-medium">
          <div class="row vertical-center-row">
            <div class="panel panel-default game-box">
              <div class="row masthead"></div>
              <div class="row"  style="margin-left: 5px; margin-right: 5px">
                <div class="panel-body">
                  <h1 style="font-family: HouseScript">{{ this.in.faction }}</h1>
                  <div class="alert alert-danger" role="alert" v-if="error.length > 0">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Erro:</span>
                    {{ error }}
                  </div>   
                  <table class="table table-striped">
                    <thead>                        
                      <tr>
                        <th>Nome</th>
                        <th>ID</th>
                        <th>Rank</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="character in this.in.characters">
                          <td>{{ character.name }}</td>
                          <td>{{ character.activeId }}</td>
                          <td>{{ character.rank }}</td>
                      </tr>
                    </tbody>
                  </table>                                                              
                  <button type="button" v-on:click="close" class="btn btn-danger btn-striped" v-bind:disabled="blocked" v-bind:class="{ 'btn-processing': blocked }">Fechar</button>                                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </transition>
  </div>


  <script src="js/vue.js"></script>
  <!-- <script src="js/inventory.js"></script> -->
  <script type="text/javascript">
    function range(start, end) {
      var foo = [];
      for (var i = start; i <= end; i++) {
        foo.push(i);
      }
      return foo;
    }   


    factionmembers_app = new Vue({
        el: '#factionmembers-app',
        data: {
            display: true,
            blocked: false,
            error: '',
            in: {
                characters: [{id: 1, activeId: 0, name: 'Victor Ferraresi', rank: 'Chief of Police'}, 
                			{id: 2, activeId: 10, name: 'Victor Ferraresi2', rank: 'Deputy of Police'}, 
                			{id: 3, activeId: 20, name: 'Victor Ferraresi3', rank: 'Commander'}, 
                			{id: 4, activeId: 30, name: 'Victor Ferraresi4', rank: 'Lieutenant'}, 
                			{id: 5, activeId: 40, name: 'Victor Ferraresi5', rank: 'Sergeant'}, ],
                faction: 'Los Santos Police Department'
            }
        },
        methods: {
            close: function () {
                this.blocked = false;
                resourceCall('triggerEvent', 'CS_SHOW_FACTION_MEMBERS_CLOSE');
            }
        }
    });
</script>
</body>
</html>